body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.editor {
	height: 800px;
	padding: 10px;
}

.run-widget {
	margin-left: 20px;
}

.term {
	font-family: Courier New, Courier, monospace;
}

.variable {
	color: blue;
}

.arrow {
	margin-left: 3px;
	margin-right: 3px;
}



.abstraction.redex > .variableAndArrow > .declaration.variable {
	text-decoration: underline;
	font-weight: bold;
	padding: 1px;
	padding-left: 3px;
	padding-right: 3px;
	
	border: 2px solid transparent;
	cursor: pointer;
}

.abstraction.currentRedex {
	border: 2px solid orange;
	padding-top: 2px;
	padding-bottom: 2px;
}

.abstraction.currentRedex > .variableAndArrow {
	background-color: lighten(orange, 30%);
	padding-top: 2px;
	padding-bottom: 2px;
}



.evaluationView {
	background-color: whitesmoke;
	margin-top: 10px;
	margin-bottom: 10px;
}

.variable {
	padding: 1px;
	padding-left: 3px;
	padding-right: 3px;
}

.term {
	border: solid transparent;
	border-width: 0px 2px 0px 2px;
}

.redexVar {
	background-color: lighten(lightskyblue, 10%);	
	border: 2px solid blue;
	cursor: pointer;
}


.redexArg {
	background-color: lighten(red, 40%);
	border: 2px solid red;
	cursor: pointer;
	padding-top: 2px;
	padding-bottom: 2px;
}

.evaluationStep {
	padding: 10px;
}

.wasArg {
	box-shadow:
		0 0 0 7px rgba(0, 0, 0, 0.05);
}
